FirstProject/force-app/main/default/flows/Calculate_Outreaches_Statistic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Increment_Overall_Outreach_Count</name>
        <label>Increment Overall Outreach Count</label>
        <locationX>396</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>outreachesCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Outreach_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Successful_Outreach</name>
        <label>Increment Successful Outreach</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>successfulOutreachesCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Overall_Outreach_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Outreach_is_successful</name>
        <label>Outreach is successful?</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Increment_Overall_Outreach_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Outreach_Records.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Successful_Outreach</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>successfulOutreachesPercentage</name>
        <dataType>Number</dataType>
        <expression>(100 * {!successfulOutreachesCount}) / {!outreachesCount}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Calculate Outreaches Statistic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Outreaches Statistic</label>
    <loops>
        <name>Loop_Through_Outreach_Records</name>
        <label>Loop Through Outreach Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Lead_Outreaches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Outreach_is_successful</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Outreaches</name>
        <label>Get Lead Outreaches</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Outreach_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Outreach__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Outreaches__c</field>
            <value>
                <elementReference>outreachesCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_of_successful_Outreaches__c</field>
            <value>
                <elementReference>successfulOutreachesCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful_Outreaches_Percentage__c</field>
            <value>
                <elementReference>successfulOutreachesPercentage</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Outreaches</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outreachesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>successfulOutreachesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
