FirstProject/force-app/main/default/flows/Outreaches_Rollup_Outreaches_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Outreach_Was_Changed</name>
        <label>Outreach Was Changed?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outreach_Created_Or_Outreach_Outcome_Change_To_Accepted</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lead__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Lead_Outreaches_Statistic</targetReference>
            </connector>
            <label>Outreach Created Or Outreach Outcome Change To Accepted</label>
        </rules>
        <rules>
            <name>Outreach_Lead_Was_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lead__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_New_Lead_Outreaches_Statistic</targetReference>
            </connector>
            <label>Outreach Lead Was Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Outreaches - Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outreaches - Rollup Outreaches Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outreach_Was_Changed</targetReference>
        </connector>
        <object>Outreach__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Lead_Outreaches_Statistic</name>
        <label>Calculate Lead Outreaches Statistic</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Calculate_Outreaches_Statistic</flowName>
        <inputAssignments>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Recalculate_New_Lead_Outreaches_Statistic</name>
        <label>Recalculate New Lead Outreaches Statistic</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Recalculate_Old_Lead_Outreaches_Statistic</targetReference>
        </connector>
        <flowName>Calculate_Outreaches_Statistic</flowName>
        <inputAssignments>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Recalculate_Old_Lead_Outreaches_Statistic</name>
        <label>Recalculate Old Lead Outreaches Statistic</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Calculate_Outreaches_Statistic</flowName>
        <inputAssignments>
            <name>leadId</name>
            <value>
                <elementReference>$Record__Prior.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_For_Successful_Outreaches</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outreach__c</objectType>
    </variables>
</Flow>
