FirstProject/force-app/main/default/flows/Screen_Create_Multiple_Programs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Program_Values_And_Add_To_Collection</name>
        <label>Set Program Values And Add To Collection</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rProgram.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_New_Programs.Program_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProgram.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_New_Programs.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProgram.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_New_Programs.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProgram.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_New_Programs.Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProgram.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_New_Programs.End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProgram.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_New_Programs.Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProgram.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_New_Programs.Budget</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cPrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_New_Programs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>StatusCanceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>StatusFinished</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Finished&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>StatusPending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>StatusPlanned</name>
        <choiceText>Planned</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>New_Programs_Collection_Is_Not_Empty</name>
        <label>New Programs Collection Is Not Empty</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>No_New_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cPrograms</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Programs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProgramTypeSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Create Multiple Programs</label>
    <loops>
        <name>Loop_Through_New_Programs</name>
        <label>Loop Through New Programs</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>RepeaterElement.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Program_Values_And_Add_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Programs_Collection_Is_Not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Programs</name>
        <label>Create New Programs</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Programs_was_successfully_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>cPrograms</inputReference>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SecondScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Something went wrong...&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ErrorImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Error Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;There is something wrong.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Programs</name>
        <label>New Programs</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_New_Programs</targetReference>
        </connector>
        <fields>
            <name>FirstScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Create New Programs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RepeaterElement</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Program_Name</name>
                <dataType>String</dataType>
                <fieldText>Program Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Status</name>
                <choiceReferences>StatusPlanned</choiceReferences>
                <choiceReferences>StatusFinished</choiceReferences>
                <choiceReferences>StatusCanceled</choiceReferences>
                <choiceReferences>StatusPending</choiceReferences>
                <dataType>String</dataType>
                <defaultSelectedChoiceReference>StatusPlanned</defaultSelectedChoiceReference>
                <fieldText>Status</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Type</name>
                <choiceReferences>ProgramTypeSet</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Budget</name>
                <dataType>Currency</dataType>
                <fieldText>Budget</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <validationRule>
                    <errorMessage>&lt;p&gt;Budget cannot be less than zero&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!RepeaterElement.AllItems[$EachItem].Budget} &gt; 0</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>Start_Date</name>
                <dataType>Date</dataType>
                <fieldText>Start Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <validationRule>
                    <errorMessage>&lt;p&gt;Start Date cannot be before today or after the End Date.&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!RepeaterElement.AllItems[$EachItem].Start_Date} &gt;= TODAY() &amp;&amp;
(ISBLANK({!RepeaterElement.AllItems[$EachItem].End_Date}) || {!RepeaterElement.AllItems[$EachItem].Start_Date} &lt;= {!RepeaterElement.AllItems[$EachItem].End_Date})</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>End_Date</name>
                <dataType>Date</dataType>
                <fieldText>End Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <validationRule>
                    <errorMessage>&lt;p&gt;End Date cannot be before today or before the Start Date.&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!RepeaterElement.AllItems[$EachItem].End_Date} &gt;= TODAY() &amp;&amp;
(ISBLANK({!RepeaterElement.AllItems[$EachItem].Start_Date}) || {!RepeaterElement.AllItems[$EachItem].End_Date} &gt;= {!RepeaterElement.AllItems[$EachItem].Start_Date})</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>Notes</name>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_New_Program</name>
        <label>No New Program</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoNotCreateCollectionText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;There are no new programs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoNewProgramImg</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NoNewProgramImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>No new program image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NotChoseMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;It seems like you have not created any new programs...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Programs_was_successfully_created</name>
        <label>Programs was successfully created</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Successfully Created Programs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfulOperationImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SuccessfulOperation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>SuccessfulOperation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextElement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 108, 47);&quot;&gt;Congratulations! Programs were successfully created!﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Programs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
    <variables>
        <name>rProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
</Flow>
