FirstProject/force-app/main/default/flows/Screen_External_Lead_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Lead_Data_From_Extrnal_API</name>
        <label>Get Lead Data From Extrnal API</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>leadscreenflowproject.Get Lead Data</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Transform_Lead_Data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>leadscreenflowproject.Get Lead Data</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Screen - External Lead Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - External Lead Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Leads</name>
        <label>Create Leads</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>ExtLeadData.selectedRows</inputReference>
    </recordCreates>
    <screens>
        <name>Lead_Screen</name>
        <label>Lead Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Leads</targetReference>
        </connector>
        <fields>
            <name>ExtLeadData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Lead</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Transform_Lead_Data</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-b6cb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Lead ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-1e6f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-b984&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-3ca8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-84cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-9f61&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Rating&quot;,&quot;guid&quot;:&quot;column-d967&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Rating&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AnnualRevenue&quot;,&quot;guid&quot;:&quot;column-b892&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Annual Revenue&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Lead_Data_From_Extrnal_API</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click Start button to get external Lead data&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Transform_Lead_Data</name>
        <label>Transform Lead Data</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Lead_Screen</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Lead</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AnnualRevenue</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].annualx5frevenue</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Company</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].company</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Email</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>FirstName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].firstx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LastName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].lastx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].leadx5fstatus</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Phone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].phone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Rating</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Lead_Data_From_Extrnal_API.2XX[$EachItem].rating</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>cLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cLeadsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>cLeadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeads</name>
        <apexClass>ExternalService__leadscreenflowproject_Getx20Leadx20Data_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeads_v1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
