FirstProject/force-app/main/default/flows/Screen_Create_Program_Assignments_For_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Help_Active_Program</name>
        <label>Set Help Active Program</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>cActivePrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Help_Programs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActivePrograms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Assignment</name>
        <label>Set Program Assignment</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varProgramAssignment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Assignment_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramAssignment.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramAssignment.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramAssignment.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramAssignment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProgramAssignment.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Active_Programs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cProgramAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProgramAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Active_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Skill_Active_Programs</name>
        <label>Set Skill Active Programs</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>cActivePrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Skill_Programs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActivePrograms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Record_Type_Check</name>
        <label>Contact Record Type Check</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Help_Programs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Help Contact Type</defaultConnectorLabel>
        <rules>
            <name>Skill_Contact_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skill_Program_Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Skill_Programs</targetReference>
            </connector>
            <label>Skill Contact Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Active_Programs_exist</name>
        <label>Do Active Programs exist?</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>NoActiveProgramScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Skill_Program_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Skill_Programs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Skill_Active_Programs</targetReference>
            </connector>
            <label>Active Skill Program Exist</label>
        </rules>
        <rules>
            <name>Active_Help_Program_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Help_Programs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Help_Active_Program</targetReference>
            </connector>
            <label>Active Help Program Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProgramAssignmentStatusSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Program_Assignment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Create Program Assignments For Contact</label>
    <loops>
        <name>Loop_Through_Selected_Active_Programs</name>
        <label>Loop Through Selected Active Programs</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <collectionReference>ActiveProgramsList.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Program_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Program_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Program_Assignments</name>
        <label>Create Program Assignments</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>ProgramAssignmentsSuccessfullyCreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>cProgramAssignments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Help_Programs</name>
        <label>Get Active Help Programs</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Active_Programs_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Help</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Skill_Programs</name>
        <label>Get Active Skill Programs</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Active_Programs_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skill</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get contacts on which the flow was launched.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ActivePrograms</name>
        <label>ActivePrograms</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Active_Programs</targetReference>
        </connector>
        <fields>
            <name>ActiveProgramDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Active Programs for {!Get_Contact.RecordType.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveProgramsList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Program__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Active Programs List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>cActivePrograms</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c3a5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Program Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-c1e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-598f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Budget__c&quot;,&quot;guid&quot;:&quot;column-e928&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Budget&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Program_Assignment</name>
        <label>Create Program Assignment</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Program_Assignment</targetReference>
        </connector>
        <fields>
            <name>ProgramAssignmentText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Program Assignment for {!Loop_Through_Selected_Active_Programs.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Assignment_Name</name>
            <dataType>String</dataType>
            <fieldText>Program Assignment Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>ProgramAssignmentStatusSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>In Progress</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.Name</elementReference>
            </defaultValue>
            <fieldText>Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Program</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Through_Selected_Active_Programs.Name</elementReference>
            </defaultValue>
            <fieldText>Program</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Date cannot be before today or after the End Date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date} &gt;= TODAY() &amp;&amp;
(ISBLANK({!End_Date}) || {!Start_Date} &lt;= {!End_Date})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;End Date cannot be before today or before the Start Date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_Date} &gt;= TODAY() &amp;&amp;
(ISBLANK({!Start_Date}) || {!End_Date} &gt;= {!Start_Date})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Error happened&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Error image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ErrorImage</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Something went wrong...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoActiveProgramScreen</name>
        <label>NoActiveProgramScreen</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoActiveProgramHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;There are no Active Programs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>firstTextElement</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Sorry, there are no active programs for this record type...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProgramAssignmentsSuccessfullyCreated</name>
        <label>Program Assignments Successfully Created</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfullyCreatedAssignmentsHeaderText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Successfully Created Program Assignment(-s)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfulCreatedAssignmentsImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SuccessfulCreatedAssignments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Successful Created Assignments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SuccessfullyCreatedAssignmentsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(41, 121, 0); font-size: 16px;&quot;&gt;Congratulations! Your Program Assignment(-s) were successfully created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cActivePrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
    <variables>
        <name>cProgramAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProgramAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
</Flow>
